body{
  font-family: Arial, sans-serif;
  background:#f2f4f8;
  padding:40px;
}

.container{
  background:white;
  padding:30px;
  max-width:900px;
  margin:auto;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

h2{
  text-align:center;
}

input{
  padding:10px;
  width:250px;
}

button{
  padding:10px 20px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:#1e40af;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
}
